h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

header {
    background-color: blue;
    height: 100px;
}

main {
    margin: auto 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#voting-pics {
    border: thin solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
}

img {
    height: 100%;
}

#results-box {
    background-color: pink;
    float: left;
    width: 400px;
    height: 1000px;
    border: thin solid black;
    border-radius: 10px;
    transition: 1s;
}

button {
    margin-left: 55px;
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

button:hover {
    color: white;
    background-color: navy;
    transition: .5s;
    height: 100px;
}

button:active {
    background-color: green;
}

ul {
    line-height: 30px;
    color: black;

}

#myChart {
    margin-left: 100px;
    max-height: 800px;
    max-width: 1200px;
}

footer {
    color: red;
    margin-top: auto;
    margin-bottom: auto;
    border: thin solid black;
    height: 100px;
    background-color: grey;
    text-align: center;
}
/* 
@keyframes rseults-expand {

} */